- name: Set users
  user:
    name: "{{ item.name }}"
    groups: "{{ item.groups }}"
    append: yes
    state: present
    shell: /bin/bash
    password: "{{ item.password | password_hash('sha512') }}"
    update_password: always
  loop: "{{ users }}"
  no_log: true

- name: Set authorized key
  authorized_key:
    user: "{{ item.name }}"
    key: "{{ item.pubkey }}"
    state: present
  loop: "{{ users }}"
  no_log: true

- name: root password
  user:
    name: root
    password: "{{ root_password | password_hash('sha512') }}"
    update_password: always
  no_log: true

- name: Ensure sudo requires password
  lineinfile:
    path: /etc/sudoers.d/99-ansible-users
    line: "%sudo ALL=(ALL:ALL) ALL"
    create: yes
    mode: '0440'
    validate: 'visudo -cf %s'

- name: Merge authorized users lists
  set_fact:
    authorized_users: "{{ default_authorized_users + (extra_authorized_users | default([])) }}"

- name: Get list of existing users (UID >= 1000)
  shell: "awk -F: '($3 >= 1000) {printf \"%s\\n\",$1}' /etc/passwd"
  register: existing_users
  changed_when: false
  check_mode: no
  become: true

- name: Display users that will be removed
  debug:
    msg: "User '{{ item }}' will be removed (not in authorized list)"
  loop: "{{ existing_users.stdout_lines }}"
  when: 
    - item not in authorized_users
    - existing_users.stdout_lines is defined

- name: Remove unauthorized users
  user:
    name: "{{ item }}"
    state: absent
    remove: yes
  loop: "{{ existing_users.stdout_lines }}"
  when: item not in authorized_users
  become: true
