netplan_ip: 10.0.20.6
netplan_gateway: 10.0.20.1
netplan_interface: eth0
netplan_dns:
  - 10.0.20.2
  - 10.0.20.3
  - 9.9.9.9

extra_authorized_users:
 - node-exp
 - wazuh

ufw_rules:
  - port: 22
    from:
      - "10.0.20.1"     # pfsense servers interface
      - "10.0.30.2"     # bas01

  - port: 9090          # prometheus
    from:
      - "172.18.0.0/16" # docker subnet
      - "10.0.20.1"     # pfsense servers interface
      - "10.0.30.2"     # bas01

  - port: 3000          # grafana
    from:
      - "10.0.20.1"     # pfsense servers interface
      - "10.0.30.2"     # bas01
      - "10.0.10.0/24"  # users subnet

  - port: 9093          # alertmanager
    from:
      - "10.0.20.1"     # pfsense servers interface
      - "10.0.30.2"     # bas01
      - "10.0.10.0/24"  # users subnet
