<ossec_config>
  <global>
    <jsonout_output>{{ wazuh_mgr_global_jsonout_output }}</jsonout_output>
    <alerts_log>{{ wazuh_mgr_global_alerts_log }}</alerts_log>
    <logall>{{ wazuh_mgr_global_logall }}</logall>
    <logall_json>{{ wazuh_mgr_global_logall_json }}</logall_json>

    <email_notification>{{ wazuh_mgr_global_email_notification }}</email_notification>
    <smtp_server>{{ wazuh_mgr_smtp_server }}</smtp_server>
    <email_from>{{ wazuh_mgr_email_from }}</email_from>
    <email_to>{{ wazuh_mgr_email_to }}</email_to>
    <email_maxperhour>{{ wazuh_mgr_email_maxperhour }}</email_maxperhour>
    <email_log_source>{{ wazuh_mgr_email_log_source }}</email_log_source>

    <agents_disconnection_time>{{ wazuh_mgr_agents_disconnection_time }}</agents_disconnection_time>
    <agents_disconnection_alert_time>{{ wazuh_mgr_agents_disconnection_alert_time }}</agents_disconnection_alert_time>
    <update_check>{{ wazuh_mgr_update_check }}</update_check>
  </global>

  <alerts>
    <log_alert_level>{{ wazuh_mgr_alerts_log_alert_level }}</log_alert_level>
    <email_alert_level>{{ wazuh_mgr_alerts_email_alert_level }}</email_alert_level>
  </alerts>

  <logging>
    <log_format>{{ wazuh_mgr_logging_format }}</log_format>
  </logging>

  <remote>
    <connection>secure</connection>
    <port>{{ wazuh_mgr_remote_secure_port }}</port>
    <protocol>{{ wazuh_mgr_remote_secure_protocol }}</protocol>
    <queue_size>{{ wazuh_mgr_remote_secure_queue_size }}</queue_size>
  </remote>

  <!-- ... (garde tout le reste identique à ton fichier actuel) ... -->

  <indexer>
    <enabled>{{ wazuh_mgr_indexer_enabled }}</enabled>
    <hosts>
{% for h in wazuh_mgr_indexer_hosts %}
      <host>{{ h }}</host>
{% endfor %}
    </hosts>
    <ssl>
      <certificate_authorities>
{% for ca in wazuh_mgr_indexer_ssl_ca %}
        <ca>{{ ca }}</ca>
{% endfor %}
      </certificate_authorities>
      <certificate>{{ wazuh_mgr_indexer_ssl_cert }}</certificate>
      <key>{{ wazuh_mgr_indexer_ssl_key }}</key>
    </ssl>
  </indexer>

  <auth>
    <disabled>{{ wazuh_mgr_auth_disabled }}</disabled>
    <port>{{ wazuh_mgr_auth_port }}</port>
    <use_source_ip>{{ wazuh_mgr_auth_use_source_ip }}</use_source_ip>
    <purge>{{ wazuh_mgr_auth_purge }}</purge>
    <use_password>{{ wazuh_mgr_auth_use_password }}</use_password>
    <ciphers>{{ wazuh_mgr_auth_ciphers }}</ciphers>
    <ssl_verify_host>{{ wazuh_mgr_auth_ssl_verify_host }}</ssl_verify_host>
    <ssl_manager_cert>{{ wazuh_mgr_auth_ssl_manager_cert }}</ssl_manager_cert>
    <ssl_manager_key>{{ wazuh_mgr_auth_ssl_manager_key }}</ssl_manager_key>
    <ssl_auto_negotiate>{{ wazuh_mgr_auth_ssl_auto_negotiate }}</ssl_auto_negotiate>
  </auth>

  <cluster>
    <name>{{ wazuh_mgr_cluster_name }}</name>
    <node_name>{{ wazuh_mgr_cluster_node_name }}</node_name>
    <node_type>{{ wazuh_mgr_cluster_node_type }}</node_type>
    <key>{{ wazuh_mgr_cluster_key }}</key>
    <port>{{ wazuh_mgr_cluster_port }}</port>
    <bind_addr>{{ wazuh_mgr_cluster_bind_addr }}</bind_addr>
    <nodes>
{% for n in wazuh_mgr_cluster_master_nodes %}
      <node>{{ n }}</node>
{% endfor %}
    </nodes>
    <hidden>{{ wazuh_mgr_cluster_hidden }}</hidden>
    <disabled>{{ wazuh_mgr_cluster_disabled }}</disabled>
  </cluster>
</ossec_config>

<ossec_config>
  <!-- journald + fichiers syslog -->
  <localfile>
    <log_format>journald</log_format>
    <location>journald</location>
  </localfile>

{% for lf in wazuh_mgr_localfiles %}
  <localfile>
    <log_format>{{ lf.log_format }}</log_format>
    <location>{{ lf.location }}</location>
  </localfile>
{% endfor %}

  <remote>
    <connection>syslog</connection>
    <port>{{ wazuh_mgr_remote_syslog_port }}</port>
    <protocol>{{ wazuh_mgr_remote_syslog_protocol }}</protocol>
  </remote>
</ossec_config>

<ossec_config>
  <integration>
    <name>virustotal</name>
    <api_key>{{ wazuh_mgr_virustotal_api_key }}</api_key>
    <group>{{ wazuh_mgr_virustotal_group }}</group>
    <alert_format>{{ wazuh_mgr_virustotal_alert_format }}</alert_format>
  </integration>

  <wodle name="docker-listener">
    <disabled>{{ wazuh_mgr_docker_listener_disabled }}</disabled>
  </wodle>
</ossec_config>
